body {
  background: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
/*�������õײ�����, ��������Ҫ�޸�*/
}
body #footer > div > div {
  color: #eee;
}
code {
  color: #ff7600;
  background: #fbf7f8;
  margin: 2px;
}
.highlight,
pre {
  margin: 5px 0;
  padding: 5px;
  border-radius: 3px;
}
.highlight,
code,
pre {
  border: 1px solid #d6d6d6;
}
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202,203,203,0.5);
  -moz-box-shadow: 0 0 5px rgba(202,203,204,0.5);
}
